* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-custom {
  background-color: #212529; 
  padding: 15px;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-weight: 600;
}

.navbar-custom .navbar-brand:hover {
  color: #e2e6ea;
}

.navbar-custom .nav-link {
  color: #ffffff;
  margin-right: 15px;
}

.navbar-custom .nav-link:hover {
  color: #adb5bd;
}

.navbar-custom .nav-link.active {
  color: #0d6efd; 
  font-weight: 500;
}
.navbar-custom .nav-link.active:hover {
  color: #0b5ed7;
}

.flex-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.flex-form-wrapper > div {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 4px;
}

.form-control {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.form-control:focus {
    border-color: #0066ff;
    box-shadow: 0 0 5px rgba(0, 102, 255, 0.3);
}

#warning {
    margin-top: 3px;
    font-size: 13px;
    color: red;
}

